@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;700&family=Lato:wght@100;400&display=swap");
@-webkit-keyframes show-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html body::-webkit-scrollbar {
  display: none;
}

html body {
  background-color: #161616;
  font-family: 'Lato', sans-serif;
}

html body main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) and (orientation: landscape) {
  .landscape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 9999;
  }
  .landscape::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "Please, turn your device over.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: wheat;
    font-size: 3vw;
  }
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: show-in 2s ease-in-out 1 both;
          animation: show-in 2s ease-in-out 1 both;
}

header .header-wrap {
  width: 100%;
  height: 100%;
}

header .header-wrap .header-top,
header .header-wrap .header-bottom {
  width: 100%;
}

header .header-wrap .header-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
  color: white;
}

header .header-wrap .header-top .bg-name {
  background-image: linear-gradient(45deg, black, #161616 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: show-in 1s 1s ease-in-out 1 both;
          animation: show-in 1s 1s ease-in-out 1 both;
}

header .header-wrap .header-top .bg-name .h1-bg-name {
  font-size: 50vw;
  font-family: 'Cormorant Garamond', serif;
  color: rgba(255, 255, 255, 0.15);
  color: rgba(0, 0, 0, 0.1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
}

header .header-wrap .header-top .h1-wrap,
header .header-wrap .header-top .p-wrap {
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
}

header .header-wrap .header-top .h1-wrap h1 {
  font-weight: 100;
  font-size: 18vw;
  text-align: center;
  font-weight: 100;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-animation: show-h1 .5s ease-in-out 1 both;
          animation: show-h1 .5s ease-in-out 1 both;
}

header .header-wrap .header-top .h1-wrap h1 strong {
  color: #bb7900;
  font-weight: 500;
}

header .header-wrap .header-top .h1-wrap h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header .header-wrap .header-top .h1-wrap h1:nth-child(2) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

header .header-wrap .header-top .h1-wrap h1:nth-child(3) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

header .header-wrap .header-top .p-wrap {
  display: none;
}

header .header-wrap .header-top .p-wrap p {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  -webkit-filter: drop-shadow(0 0 1rem black);
          filter: drop-shadow(0 0 1rem black);
}

header .header-wrap .header-bottom {
  height: 70vh;
  background-image: url(../images/Group.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .header-wrap .header-bottom .bg-cov {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (min-width: 1025px) {
  header .header-wrap .header-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header-wrap .header-top .p-wrap {
    display: block;
  }
  header .header-wrap .header-top .h1-wrap,
  header .header-wrap .header-top .p-wrap {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  header .header-wrap .header-top .h1-wrap h1 {
    font-size: 19vh;
  }
  header .header-wrap .header-top .p-wrap {
    padding: 0 10vw;
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
  }
  header .header-wrap .header-top .p-wrap p {
    font-size: 4rem;
    font-weight: 300;
  }
}

@-webkit-keyframes show-h1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-h1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 9995;
  opacity: 0;
  -webkit-animation: show-in 2s 2s ease-in-out 1 both;
          animation: show-in 2s 2s ease-in-out 1 both;
}

nav .logo {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15rem;
  height: 6rem;
  z-index: 9999;
  opacity: 0;
  -webkit-animation: show-in 2s 4s ease-in-out 1 both;
          animation: show-in 2s 4s ease-in-out 1 both;
}

nav .logo .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

nav .logo .logo-wrap img {
  width: 60%;
  border-radius: 50%;
}

nav .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 6rem;
  height: 6rem;
  z-index: 9999;
}

nav .line-container .line-box {
  position: relative;
  width: 80%;
  height: 80%;
}

nav .line-container .line-box .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: white;
  -webkit-transition: 0.4s cubic-bezier(0.85, 0.22, 0.56, 0.4);
  transition: 0.4s cubic-bezier(0.85, 0.22, 0.56, 0.4);
}

nav .line-container .line-box .line:nth-child(1) {
  top: 45%;
}

nav .line-container .line-box .line:nth-child(2) {
  top: 65%;
}

nav .line-container .line-box-active .line {
  background-color: rgba(255, 255, 255, 0.5);
}

nav .line-container .line-box-active .line:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .line-container .line-box-active .line:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .menu-wrap {
  position: fixed;
  top: -100vh;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

nav .menu-wrap .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  opacity: 0;
  -webkit-transition: .7s linear;
  transition: .7s linear;
}

nav .menu-wrap .menu-container .menu-list {
  width: 100%;
  height: auto;
  margin-top: 25vh;
}

nav .menu-wrap .menu-container .menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

nav .menu-wrap .menu-container .menu-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  -webkit-transition: 1.3s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.3s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav .menu-wrap .menu-container .menu-list ul li a {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  text-decoration: none;
  -webkit-transition: 1.2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

nav .menu-wrap .menu-container .indicator {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: .2rem;
  background-color: transparent;
  -webkit-box-shadow: 0 0.5rem 1rem 0.1rem #bb7900;
          box-shadow: 0 0.5rem 1rem 0.1rem #bb7900;
  z-index: -1;
}

nav .menu-wrap .menu-container-active {
  opacity: 1;
}

nav .menu-wrap .menu-container-active .menu-list ul li {
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}

nav .menu-wrap .menu-container-active .menu-list ul li a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .menu-wrap-active {
  top: 0;
}

.off-anim {
  opacity: 1;
  -webkit-animation: none;
          animation: none;
}

@media (min-width: 1025px) {
  nav .line-container {
    display: none;
  }
  nav .menu-wrap {
    top: 0;
    height: 6rem;
  }
  nav .menu-wrap .menu-container {
    opacity: 1;
    height: auto;
  }
  nav .menu-wrap .menu-container .menu-list {
    margin-top: 0;
  }
  nav .menu-wrap .menu-container .menu-list ul {
    width: 95%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .menu-wrap .menu-container .menu-list ul li {
    width: auto;
    margin-left: 1rem;
    border: none;
  }
  nav .menu-wrap .menu-container .menu-list ul li a {
    font-size: 1.5rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  nav .menu-wrap .menu-container .menu-list {
    -webkit-box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.1);
  }
  nav .menu-wrap .menu-container .menu-list ul li {
    width: auto;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  nav .menu-wrap .menu-container .menu-list ul li a {
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .menu-wrap .menu-container .menu-list ul li a::after {
    content: attr(data-replace);
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70%;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    z-index: -1;
    color: black;
    -webkit-transform: translateY(105%);
            transform: translateY(105%);
  }
  nav .menu-wrap .menu-container .menu-list ul .active-li a,
  nav .menu-wrap .menu-container .menu-list ul li:hover a {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  nav .menu-wrap .menu-container .menu-list ul .active-li a::after,
  nav .menu-wrap .menu-container .menu-list ul li:hover a::after {
    height: 100%;
    font-weight: 700;
    color: #bb7900;
  }
}

.main-section-title,
.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 192rem;
  height: auto;
  color: white;
}

.main-section-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.main-section-title .section-side {
  width: 100%;
  padding: 0 3rem;
}

.main-section-title .section-side .section-side-h1-title {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.main-section-title .section-side .section-side-h1-title {
  position: relative;
  font-size: 5rem;
  padding-bottom: 3rem;
}

.main-section-title .section-side .section-side-h1-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bb7900;
  z-index: -1;
}

.main-section-title .section-side .section-side-h1-2-title {
  font-weight: 100;
  font-size: 2.5rem;
}

.main-section .article {
  width: 100%;
  height: 100%;
}

.main-section .article article,
.main-section .article .article-img {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: rgba(22, 22, 22, 0.8);
}

.main-section .article article hr {
  width: 100%;
  height: 1px;
  border-color: #bb7900;
  margin: 2rem 0;
}

.main-section .article article p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding: 2rem 0;
  font-weight: 100;
}

.main-section .article article p span {
  color: #bb7900;
  font-weight: 500;
  font-style: italic;
}

.main-section .article article .ul-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: 2rem 0 5rem;
  list-style: none;
}

.main-section .article article .ul-list li {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 100;
}

.main-section .article article .ul-list li a {
  text-decoration: none;
  color: white;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main-section .article article .ul-list li a i {
  color: #bb7900;
  margin-right: 1.5rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main-section .article article .ul-list li:hover a {
  color: #bb7900;
}

.main-section .article article .ul-list li:hover a i {
  opacity: .3;
}

.main-section .article .article-img .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}

.main-section .article .article-img .img-box .img-name h2 {
  text-align: center;
  font-size: 3rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.main-section .article .article-img .img-box .img-name h3 {
  font-size: 2rem;
  font-weight: 100;
}

.main-section .article .article-img .img-box .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vw;
  margin-top: 6rem;
  border-radius: 2rem;
  overflow: hidden;
}

.main-section .article .article-img .img-box .img-container img {
  width: 100%;
}

.main-section .article .list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3rem 0;
}

.main-section .article .list-wrap .list-container {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  margin: .5rem;
}

.main-section .article .list-wrap .list-container ul {
  width: 100%;
}

.main-section .article .list-wrap .list-container ul li {
  padding: 1rem 1.5rem;
  list-style: none;
  text-align: left;
  background-color: #161616;
  border-bottom: 1px solid #bb7900;
  font-size: 1.8rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main-section .article .list-wrap .list-container ul .li-1 {
  padding: 1rem 0;
  text-align: center;
  background-color: #dddddd;
  color: black;
  font-weight: 700;
}

.main-section .bg-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-section .bg-1 {
  background-image: url(../images/black-and-white-back_1.png);
}

@media (min-width: 700px) {
  .main-section-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem 0;
  }
  .main-section-title .section-side {
    width: 50%;
  }
  .main-section-title .section-side .section-side-h1-title {
    font-size: 5rem;
  }
  .main-section-title .section-side .section-side-h1-2-title {
    font-size: 3rem;
    padding: 2rem 4rem;
    font-style: italic;
    border-left: 1px solid #bb7900;
  }
  .main-section .article article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .article article hr {
    width: 80%;
  }
  .main-section .article article p {
    width: 80%;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  .main-section .article .article-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-section .article .article-img .img-box {
    width: 40%;
    height: 60vh;
    margin: 3rem;
  }
  .main-section .article .article-img .img-box .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6rem;
    border-radius: 2rem;
    overflow: hidden;
  }
  .main-section .article .article-img .img-box .img-container img {
    width: 100%;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
}

@media (min-width: 1025px) {
  .main-section-title .section-side {
    width: 40%;
  }
  .main-section-title .section-side .section-side-h1-title {
    font-size: 7rem;
  }
  .main-section-title .section-side .section-side-h1-2-title {
    font-size: 3.5rem;
  }
  .main-section .article article p {
    font-size: 3rem;
    line-height: 4rem;
  }
  .main-section .article .article-img .img-box {
    width: 40%;
    height: 40vh;
    margin: 0 5rem;
  }
  .main-section .article .article-img .img-box .img-name {
    display: none;
  }
  .main-section .article .article-img .img-box .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6rem;
    border-radius: 2rem;
    overflow: hidden;
  }
  .main-section .article .article-img .img-box .img-container img {
    width: 100%;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
  .main-section .article .article-img .img-box .img-container:hover img {
    width: 120%;
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
  }
  .main-section .article .article-img .img-box .img-container::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: attr(data-img-name);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 3rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .main-section .article .article-img .img-box .img-container:hover::after {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }
}

@media (min-width: 1300px) {
  .main-section-title {
    padding: 7rem 0;
  }
  .main-section-title .section-side {
    width: 30%;
  }
  .main-section-title .section-side .section-side-h1-title {
    font-size: 8rem;
  }
  .main-section-title .section-side .section-side-h1-2-title {
    font-size: 3rem;
    padding: 4rem;
  }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8rem;
  }
  .main-section .article article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main-section .article article hr {
    width: 40%;
    margin: 6rem 0;
  }
  .main-section .article article p {
    width: 70%;
    font-size: 4rem;
    line-height: 6rem;
  }
  .main-section .article .article-img .img-box {
    width: 30%;
    height: 50vh;
    margin: 2rem 5rem;
  }
  .main-section .article .list-wrap .list-container {
    overflow: hidden;
    border-radius: 5px;
    margin: 1rem;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .main-section .article .list-wrap .list-container:hover {
    -webkit-transform: scale(1.125) translateY(-20px);
            transform: scale(1.125) translateY(-20px);
    -webkit-box-shadow: 0 0 50px 30px black;
            box-shadow: 0 0 50px 30px black;
  }
  .main-section .article .list-wrap .list-container:hover ul li {
    background-color: #222222;
  }
  .main-section .article .list-wrap .list-container:hover ul .li-1 {
    background-color: white;
  }
}

main .gallery-section {
  width: 100%;
  height: auto;
}

main .gallery-section .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .gallery-section .img-container {
  z-index: 10;
  width: 100%;
  height: auto;
}

main .gallery-section .img-container .h1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main .gallery-section .img-container .h1-container h1 {
  color: #bb7900;
  font-size: 8vw;
  text-align: center;
}

main .gallery-section .img-container .img-box {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

main .gallery-section .img-container .img-box .blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

main .gallery-section .img-container .img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  z-index: 2;
  -webkit-box-shadow: 0 0 3rem .2rem black;
          box-shadow: 0 0 3rem .2rem black;
  border-radius: 1rem;
}

main .gallery-section .img-container .img-1 {
  background-image: url(../images/gallery/img-2.jpg);
}

main .gallery-section .img-container .img-2 {
  background-image: url(../images/gallery/img-3.jpg);
}

main .gallery-section .img-container .img-3 {
  background-image: url(../images/gallery/img-4.jpg);
}

main .gallery-section .img-container .img-4 {
  background-image: url(../images/gallery/img-5.jpg);
}

main .gallery-section .img-container .img-5 {
  background-image: url(../images/gallery/xlr-logo.jpg);
  background-position: center;
}

main .gallery-section .img-container .img-6 {
  background-image: url(../images/gallery/img-7.jpg);
}

main .gallery-section .img-container .img-7 {
  background-image: url(../images/gallery/img-8.jpg);
}

main .gallery-section .img-container .img-8 {
  background-image: url(../images/gallery/img-1.jpg);
}

main .gallery-section .img-container .img-9 {
  background-image: url(../images/gallery/img-6.jpg);
}

@media (min-width: 1025px) {
  main .scroll-snap::-webkit-scrollbar {
    display: none;
  }
  main .scroll-snap {
    overflow: scroll;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
  main .gallery-section {
    width: 100%;
    height: calc(100vh - 10rem);
  }
  main .gallery-section .img-container {
    scroll-snap-align: start;
    height: 100vh;
  }
  main .gallery-section .img-container .img-box {
    background-attachment: fixed;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  main .gallery-section .img-container .img-box img {
    width: 50%;
  }
}

.login-page {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 10rem);
}

.login-page .login-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.login-page .login-wrap .login-container {
  width: 100%;
  max-width: 45rem;
  height: auto;
  padding: 8rem 1rem 3rem;
  opacity: 0;
  -webkit-animation: show-in 2s ease-in-out 1 both;
          animation: show-in 2s ease-in-out 1 both;
}

.login-page .login-wrap .login-container h1 {
  padding: 3rem 0;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 100;
}

.login-page .login-wrap .login-container form p {
  padding: 3rem 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.3);
  -webkit-animation: show-in 5s 3s ease-in-out 1 both;
          animation: show-in 5s 3s ease-in-out 1 both;
  text-align: center;
}

.login-page .login-wrap .login-container form p a {
  color: rgba(255, 255, 255, 0.473);
}

.login-page .login-wrap .login-container form .input-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.login-page .login-wrap .login-container form .input-groups label,
.login-page .login-wrap .login-container form .input-groups input {
  -webkit-animation: show-in 2s ease-in-out 1 both;
          animation: show-in 2s ease-in-out 1 both;
}

.login-page .login-wrap .login-container form .input-groups label {
  font-size: 1.6rem;
  padding: 1rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.login-page .login-wrap .login-container form .input-groups input {
  background-color: #161616;
  border: none;
  border-bottom: 1px solid #bb7900;
  padding: 1rem 2rem;
  color: #bb7900;
  outline: none;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.login-page .login-wrap .login-container form .input-groups input::-webkit-input-placeholder {
  color: #444444;
}

.login-page .login-wrap .login-container form .input-groups input:-ms-input-placeholder {
  color: #444444;
}

.login-page .login-wrap .login-container form .input-groups input::-ms-input-placeholder {
  color: #444444;
}

.login-page .login-wrap .login-container form .input-groups input::placeholder {
  color: #444444;
}

.login-page .login-wrap .login-container form .input-groups input:-webkit-autofill,
.login-page .login-wrap .login-container form .input-groups input:-webkit-autofill:hover,
.login-page .login-wrap .login-container form .input-groups input:-webkit-autofill:focus {
  -webkit-text-fill-color: #bb7900;
  -webkit-box-shadow: 0 0 0px 1000px #161616 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.login-page .login-wrap .login-container form .input-groups input[type=submit] {
  padding: .5rem 2rem;
  margin-top: 3rem;
  border: none;
  -webkit-box-shadow: inset 0 0 0.5rem 0.1rem #bb7900;
          box-shadow: inset 0 0 0.5rem 0.1rem #bb7900;
  border-radius: .5rem;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@media (min-width: 1025px) {
  .login-page {
    min-height: 100vh;
  }
  .login-page .login-wrap .login-container {
    padding: 8rem 10rem;
    -webkit-box-shadow: inset 0 0 1.5rem 0.1rem #bb7900;
            box-shadow: inset 0 0 1.5rem 0.1rem #bb7900;
    margin: 12rem 0;
    border-radius: 1rem;
  }
  .login-page .login-wrap .login-container form .input-groups input[type=submit] {
    margin-top: 5rem;
    padding: 1rem 4rem;
  }
  .login-page .login-wrap .login-container form .input-groups input[type=submit]:hover {
    -webkit-box-shadow: inset 0 0 0.5rem 0.1rem transparent, 0 0 2rem 0.1rem #bb7900;
            box-shadow: inset 0 0 0.5rem 0.1rem transparent, 0 0 2rem 0.1rem #bb7900;
    border-radius: 1rem;
    color: #ffc17b;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  background-color: black;
  color: #3b3b3b;
  font-size: 4.5vw;
}

@media (min-width: 414px) {
  footer {
    font-size: 1.8rem;
  }
}

@media (min-width: 700px) {
  footer {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  footer {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=create-style.css.map */