nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav_h;
    z-index: 9995;
    opacity: 0;
    animation: show-in 2s 2s ease-in-out 1 both;

    .logo {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateX(-50%);
        width: 15rem;
        height: $nav_h;
        // background-color: blueviolet;
        z-index: 9999;
        opacity: 0;
        animation: show-in 2s 4s ease-in-out 1 both;


        .logo-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;


            img {
                width: 60%;
                border-radius: 50%;
            }
        }
    }

    .line-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 1rem;
        width: $nav_h;
        height: $nav_h;
        z-index: 9999;

        .line-box {
            position: relative;
            width: 80%;
            height: 80%;


            .line {
                position: absolute;
                left: 0;
                width: 100%;
                height: .1rem;
                background-color: white;
                transition: .4s cubic-bezier(0.85, 0.22, 0.56, 0.4)
            }

            .line:nth-child(1) {
                top: 45%;
            }

            .line:nth-child(2) {
                top: 65%;
            }
        }

        .line-box-active {

            .line {

                background-color: rgba(255, 255, 255, 0.5);

            }

            .line:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }

            .line:nth-child(2) {
                top: 50%;
                transform: rotate(-45deg);
            }
        }


    }

    .menu-wrap {
        position: fixed;
        top: -100vh;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9998;

        .menu-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100vh;
            background-color: $main_color;
            opacity: 0;
            transition: .7s linear;

            .menu-list {
                width: 100%;
                height: auto;
                margin-top: 25vh;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 0;
                        height: 100%;
                        border-bottom: 1px solid rgba(255, 255, 255, 0);
                        overflow: hidden;
                        transition: 1.3s .5s cubic-bezier(0.075, 0.82, 0.165, 1);


                        a {
                            display: block;
                            padding: 1rem;
                            color: white;
                            font-size: 4vh;
                            font-weight: 100;
                            text-decoration: none;
                            transition: 1.2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                            transform: translateY(100%);
                        }
                    }
                }
            }

            .indicator {
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: .2rem;
                background-color: transparent;
                box-shadow: 0 .5rem 1rem .1rem $color_1;
                z-index: -1;
            }
        }

        .menu-container-active {
            opacity: 1;

            .menu-list {
                ul {
                    li {
                        width: 80%;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.322);

                        a {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }

    }

    .menu-wrap-active {
        top: 0;
    }
}

.off-anim {
    opacity: 1;
    animation: none;
}




@media (min-width:1025px) {
    nav {
        .line-container {
            display: none;
        }

        .menu-wrap {
            top: 0;
            height: $nav_h;

            .menu-container {
                opacity: 1;
                height: auto;

                .menu-list {
                    margin-top: 0;

                    ul {
                        width: 95%;
                        justify-content: flex-end;
                        flex-direction: row;


                        li {
                            width: auto;
                            margin-left: 1rem;
                            border: none;

                            a {
                                font-size: 1.5rem;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1200px) {
    nav {
        // .line-container {
        //     display: none;
        // }

        .menu-wrap {
            // top: 0;

            .menu-container {
                // opacity: 1;
                // height: auto;

                .menu-list {
                    // margin-top: 0;
                    // border-bottom: 1px solid white;
                    box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.1);

                    ul {
                        // width: 80%;
                        // justify-content: flex-end;
                        // flex-direction: row;


                        li {
                            width: auto;
                            // border-bottom: .1rem solid rgba(255, 255, 255, 0.404);
                            transition: .3s linear;

                            a {

                                position: relative;
                                padding: 2rem;
                                font-size: 2rem;
                                transform: translateY(0);
                                transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                // transition: .3s ease-in-out;

                            }

                            a::after {
                                content: attr(data-replace);
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 70%;
                                // background-color: white;
                                transition: .5s linear;
                                z-index: -1;
                                color: black;
                                transform: translateY(105%);

                            }

                        }

                        .active-li,
                        li:hover {
                            // border-bottom: 1px solid rgba(233, 138, 30, 0.877);


                            a {
                                // color: orange;

                                transform: translateY(-100%);
                            }

                            a::after {

                                height: 100%;
                                font-weight: 700;
                                color: $color_1;
                            }
                        }
                    }
                }
            }
        }
    }
}