@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;700&family=Lato:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html body {
  background-color: #161616;
  font-family: 'Lato', sans-serif;
}

html body main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) and (orientation: landscape) {
  .landscape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 9999;
  }
  .landscape::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "Please, turn your device over.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: wheat;
    font-size: 3vw;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 9995;
  opacity: 1;
}

nav .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 6rem;
  height: 6rem;
  z-index: 9999;
}

nav .line-container .line-box {
  position: relative;
  width: 80%;
  height: 80%;
}

nav .line-container .line-box .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: white;
  -webkit-transition: 0.4s cubic-bezier(0.85, 0.22, 0.56, 0.4);
  transition: 0.4s cubic-bezier(0.85, 0.22, 0.56, 0.4);
}

nav .line-container .line-box .line:nth-child(1) {
  top: 45%;
}

nav .line-container .line-box .line:nth-child(2) {
  top: 65%;
}

nav .line-container .line-box-active .line {
  background-color: rgba(255, 255, 255, 0.5);
}

nav .line-container .line-box-active .line:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .line-container .line-box-active .line:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .menu-wrap {
  position: fixed;
  top: -100vh;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

nav .menu-wrap .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  opacity: 0;
  -webkit-transition: .7s linear;
  transition: .7s linear;
}

nav .menu-wrap .menu-container .menu-list {
  width: 100%;
  height: auto;
  margin-top: 25vh;
}

nav .menu-wrap .menu-container .menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

nav .menu-wrap .menu-container .menu-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  -webkit-transition: 1.3s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.3s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav .menu-wrap .menu-container .menu-list ul li a {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  text-decoration: none;
  -webkit-transition: 1.2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

nav .menu-wrap .menu-container-active {
  opacity: 1;
}

nav .menu-wrap .menu-container-active .menu-list ul li {
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}

nav .menu-wrap .menu-container-active .menu-list ul li a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .menu-wrap-active {
  top: 0;
}

@media (min-width: 1025px) {
  nav .line-container {
    display: none;
  }
  nav .menu-wrap {
    top: 0;
    height: 6rem;
  }
  nav .menu-wrap .menu-container {
    opacity: 1;
    height: auto;
  }
  nav .menu-wrap .menu-container .menu-list {
    margin-top: 0;
  }
  nav .menu-wrap .menu-container .menu-list ul {
    width: 80%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .menu-wrap .menu-container .menu-list ul li {
    width: auto;
  }
  nav .menu-wrap .menu-container .menu-list ul li a {
    font-size: 1.5rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  nav .menu-wrap .menu-container .menu-list {
    -webkit-box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 3px 5px 1px rgba(255, 255, 255, 0.1);
  }
  nav .menu-wrap .menu-container .menu-list ul li {
    width: auto;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  nav .menu-wrap .menu-container .menu-list ul li a {
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .menu-wrap .menu-container .menu-list ul li a::after {
    content: attr(data-replace);
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70%;
    -webkit-transition: .6s linear;
    transition: .6s linear;
    z-index: -1;
    color: black;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  nav .menu-wrap .menu-container .menu-list ul .active-li a,
  nav .menu-wrap .menu-container .menu-list ul li:hover a {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  nav .menu-wrap .menu-container .menu-list ul .active-li a::after,
  nav .menu-wrap .menu-container .menu-list ul li:hover a::after {
    height: 100%;
    font-weight: 700;
    color: #bb7900;
  }
}

.admin-wrap {
  width: 100%;
  height: auto;
  color: rgba(245, 245, 245, 0.6);
  -webkit-animation: showOn 2.5s ease-in-out 1 both;
          animation: showOn 2.5s ease-in-out 1 both;
}

.admin-wrap .front-dashboard {
  width: 100%;
  height: auto;
}

.admin-wrap .front-dashboard .feed-wrap {
  width: 100%;
  height: auto;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10rem 1rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table,
.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 41rem;
  height: auto;
  padding: 2rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 3rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h1,
.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h3,
.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box p {
  text-align: center;
  padding: .8rem 0;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h1 span,
.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h3 span,
.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box p span {
  display: block;
  padding: 1rem;
  color: #bb7900;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h1 {
  padding: 1.5rem 0 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2.3rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box h3 {
  font-size: 2.1rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box p {
  font-size: 2rem;
  padding: 3rem 0;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button {
  margin-top: 3rem;
  border: none;
  border-radius: .8rem;
  background-color: #161616;
  overflow: hidden;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  color: rgba(245, 245, 245, 0.6);
  text-decoration: none;
  border: 1px solid #bb7900;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box {
  position: relative;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box .alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2rem 4rem;
  text-align: center;
  font-size: 2rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box .danger {
  color: #4b0000;
  background-color: #ff6767;
  border: 0.1rem solid #4b0000;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box .success {
  color: #004b00;
  background-color: #67ff67;
  border: 0.1rem solid #004b00;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form {
  margin-top: 3rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups label {
  font-size: 1.6rem;
  padding: 1rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups ::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups select {
  color: #bb7900;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input {
  background-color: #161616;
  border: none;
  border-bottom: 1px solid #bb7900;
  padding: 1rem 2rem;
  color: #bb7900;
  outline: none;
  text-align: center;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input::-webkit-input-placeholder {
  color: #444444;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input:-ms-input-placeholder {
  color: #444444;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input::-ms-input-placeholder {
  color: #444444;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input::placeholder {
  color: #444444;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input:-webkit-autofill,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input:-webkit-autofill:hover,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input:-webkit-autofill:focus,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups select:-webkit-autofill,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups select:-webkit-autofill:hover,
.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups select:-webkit-autofill:focus {
  -webkit-text-fill-color: #bb7900;
  -webkit-box-shadow: 0 0 0px 1000px #161616 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .form-box form .input-groups input[type=submit] {
  padding: .5rem 2rem;
  margin-top: 3rem;
  border: none;
  -webkit-box-shadow: inset 0 0 0.5rem 0.1rem #bb7900;
          box-shadow: inset 0 0 0.5rem 0.1rem #bb7900;
  border-radius: .5rem;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table {
  width: 100%;
  margin-top: 3rem;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody {
  width: 100%;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(245, 245, 245, 0.6);
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td {
  width: 100%;
  text-align: left;
  padding: .5rem;
  font-size: 1.8rem;
  color: white;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td a {
  color: #bb7900;
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td[id=no] {
  border-left: 1px solid rgba(245, 245, 245, 0.6);
}

.admin-wrap .front-dashboard .feed-wrap .feed-container .table table .tr-bottom {
  border: 1px solid #bb7900;
}

@media (min-width: 1025px) {
  .admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .form-box {
    -webkit-box-shadow: 0 0 1rem 0.1rem rgba(187, 121, 0, 0.5);
            box-shadow: 0 0 1rem 0.1rem rgba(187, 121, 0, 0.5);
    border-radius: .8rem;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .form-box button {
    margin-top: 3rem;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button a,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .form-box button a {
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button:hover,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .form-box button:hover {
    background-color: rgba(187, 121, 0, 0.5);
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .feed-box button:hover a,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .form-box button:hover a {
    border-color: rgba(187, 121, 0, 0.5);
    color: white;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table {
    min-width: 100%;
    min-width: 60%;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table {
    display: table-row;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr {
    display: table-row;
    text-align: center;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td {
    width: auto;
    padding: 1rem 2rem;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td a {
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr .td-content {
    width: 30%;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td[id=edit]:hover a {
    color: #009213;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr td[id=delete]:hover a {
    color: #b60000;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr:nth-child(odd) {
    background-color: #2e2e2e;
  }
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr:hover,
  .admin-wrap .front-dashboard .feed-wrap .feed-container .table table tbody tr:nth-child(odd):hover {
    background-color: black;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 3rem 0.1rem #bb7900;
            box-shadow: 0 0 3rem 0.1rem #bb7900;
  }
}

@media (min-width: 1280px) {
  .admin-wrap .front-dashboard .feed-wrap .container-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .admin-wrap .front-dashboard .feed-wrap .container-row .feed-box,
  .admin-wrap .front-dashboard .feed-wrap .container-row .form-box {
    margin: 10rem 5rem;
  }
}

@-webkit-keyframes showOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  background-color: black;
  color: #3b3b3b;
  font-size: 4.5vw;
}

@media (min-width: 414px) {
  footer {
    font-size: 1.8rem;
  }
}

@media (min-width: 700px) {
  footer {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  footer {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=admin-style.css.map */